* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


/* STYLING FOR HOME PAGE */
#sect {
    background-image: url('../assets/images/background.png');
    background-size: cover;
    height: 79vh;
    width: auto;
    text-align: center;
}

#HomeH1 {
    padding-top: 7%;
    font-size: 36px;
    color: rgb(255, 255, 255);
    font-family: bold;
}

#HomeP1 {
    font-size: 16px;
    color: white;
    font-weight: 600;
    padding: 15px;
}

/* MEDIA QUERIES FOR IPHONE XR AND IPAD MINI */

@media only screen and (min-device-width: 414px) and (max-device-width: 896px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

    #sect {
        background-image: url('/public/images/background.png');
        background-size: cover;
        height: 710px;
        margin-bottom: -30px;
    }

    #HomeH1 {
        font-size: 36px;
        color: rgb(255, 255, 255);
        font-family: bold;
    }

    #HomeP1 {
        font-size: 16px;
        color: white;
        font-family: regular;
    }

}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

    #sect {
        background-image: url('/public/images/background.png');
        background-size: cover;
        height: 82vh;
        margin-bottom: 0.1px;
    }

    #HomeH1 {
        padding-top: 30%;
        font-size: 36px;
        color: rgb(255, 255, 255);
        font-family: bold;
        white-space-collapse: break-spaces;
    }

    #HomeP1 {
        font-size: 16px;
        color: white;
        font-family: regular;
    }

}