@font-face {
  font-family: 'Bold';
  src: url('../src/assets/fonts/inter/Inter-Bold.otf');
}

@font-face {
  font-family: 'Regular';
  src: url('../src/assets/fonts/inter/Inter-Regular.otf');
}

@font-face {
  font-family: 'Light';
  src: url('../src/assets/fonts/inter/Inter-Light-BETA.otf');
}

@font-face {
  font-family: 'Thin';
  src: url('../src/assets/fonts/inter/Inter-Thin-BETA.otf');
}